.mainContainer{
    border: 3px solid rgb(241, 239, 239);
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    width: 350px;
    /* text-align: center; */
    background: #008000;
    justify-content: center;
}
.cal{
    color: white;
}
button{
    /* border: none; */
    border: 3px solid black; 
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer; 
    

}
.button{ 
    display: grid;
    grid-template-columns: repeat(4, 100px);
}
button:hover{
    display: grid;
    color: rgb(65, 3, 3);
    background-color: blue;
}
.number {
    background-color: #f0f0f0;
    color: black;
  }
  
.operator {
    background-color: #ffa500;
    color: rgb(15, 14, 14);
  }
  
  .equals {
    background-color: #008000;
    color: white;
  }
  
  .clear {
    background-color: #ff0000;
    color: white;
  }
  
  .decimal {
    background-color: #f0f0f0;
    color: black;
  }
  
  .result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  .text{
    border: 2px solid rgb(3, 3, 3);
    height: 10vh;
  }